p.imptnt {
    text-align: center;
    font-size: 100pt;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.medium {
    text-align: center;
    font-size: 50pt;
    color: rgb(218, 213, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
p.home {
    text-align: left;
    font-size: 30pt;
    color: rgb(218, 213, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: left; 
    display: inline-block;
    margin-right: 10%;
}
p.resume {
    text-align: right;
    font-size: 30pt;
    color: rgb(218, 213, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: right; 
    display: inline-block;
}

body {
    background-color: gray;
}

a {
    text-decoration: none;
}